#addPlayerForm {
  text-align: center;

  #box {
    text-align: left;
    padding: 0px 160px;

    h1{
        margin: 0;
        padding: 0;
    }

    button{
        margin-left: 10px;
    }
  }
}
