.player {
  li {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: auto;
    width: 500px;
    padding: 30px 0;

    div {
      img {
        width: 100px;
        padding: 5px;
        overflow: hidden;
        transition: 0.5s;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
      img:hover {  
        width: 90px;            
        border: 5px solid #333;
        border-radius: 50%;
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    .name-nickname {
      padding: 15px;
      p {
        margin: 0;
      }

      .name {
        font-family: Verdana, Helvetica, Arial, sans-serif;
        font-size: 26px;
      }

      .nickname {
        font-family: Marker Felt, fantasy;
        font-size: 28px;
        padding: 20px 10px 0 10px;
      }
    }

    form {
      text-align: right;
    }
    .deleteBtn {
      margin-top: 30px;
      border: 0px;
      cursor: pointer;

      img {
        width: 50px;
        padding: 5px;
        overflow: hidden;
        transition: 0.5s;
      }
      img:hover {
        transform: rotate(-10deg) scale(1.3);
        opacity: 0.5;
      }
    }

    .deleteBtn:hover::after {
      content: attr(data-title);
      position: absolute;
      padding: 10px;
    }
  }
}
